@font-face {
    font-family: 'FiraGO';
    src: url('FiraGO-Regular.woff2') format('woff2'),
        url('FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

